/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* Зменшення шрифту для мобільних */
        margin-top: 10px; /* Додає відступ зверху */
    }

    h2 {
        font-size: 20px; /* Зменшення шрифту для мобільних */
    }

    p {
        margin: 10px 5px 5px 5px ; /* Відстань зверху та знизу - 20px, зліва та справа - 5px */
        font-size: 10px; /* Зменшення шрифту для мобільних */
        width: 100%; /* Збільшення ширини тексту для мобільних */
        
    }

    .circle-image {
        width: 100px; /* Зменшення ширини фото для мобільних */
        height: 100px; /* Зменшення висоти фото для мобільних */
         position: absolute; /* Залиште або змініть на relative для кращого позиціонування */
        top: 35px; /* Відстань зверху */
        left: 20px; /* Відстань зліва */
    }

    .container-mob {
    width: 90%; /* Додаємо відстань з боків */
    max-width: 768px; /* Обмежуємо максимальну ширину для великих екранів */
    margin: 0 auto; /* Вирівнюємо по центру */
    /*padding: 20px 10px;*/
    /*padding-left: 10px; /* Наприклад, додаємо 30 пікселів відступу зліва */
    /*padding-right: 10px; /* Наприклад, додаємо 30 пікселів відступу зліва */
    background-color: rgba(255, 255, 255, 0.0);
    }
    .menu {
        flex-direction: column; /* Вертикальне вирівнювання меню на мобільних */
        align-items: center; /* Центруємо меню по вертикалі */
    }
    .crawl-mob
     {
        /*font-family: 'Arial', sans-serif;
        /*color: #ffcc00; /* Колір тексту */
        /*font-size: 9em; /* Розмір тексту */
        position: absolute;
        bottom: -100%; /* Виходить за межі екрану знизу */
        left: 50%; /* Центрує текст по горизонталі */
        transform: translateX(-50%); /* Центрує текст по горизонталі */
        animation: crawl 5s linear forwards; /* Анімація для тексту */
    }
}
